
.register-box {
    width: 420px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.register-box input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
}
